* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/background\ .png);
    background-size: cover;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.image-block {
    height: 34%;
    width: 100%;
    margin-bottom: 10px;
}

.image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons-row {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.buttons-row button {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
}

.buttons-row button img {
    width: 5vw;
    height: 5vw;
    margin-bottom: 8px;
}

.buttons-block button {
    border-radius: 2vw;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

button:hover img {
    animation: jump 0.75s ease infinite;
}